---
interface BreadcrumbsProps {
  indexText?: string;
  mainBemClass?: string;
}

const { indexText = 'Home', mainBemClass = 'c-breadcrumbs' } = Astro.props as BreadcrumbsProps;

const paths = Astro.url.pathname.split('/').filter((crumb: any) => crumb);
const ariaCurrent = Astro.request.url.pathname === '/' ? 'page' : undefined;

interface BreadcrumbItem {
  text: string;
  href: string;
  'aria-current'?: string;
}

let parts: Array<BreadcrumbItem> = [
  {
    text: indexText,
    href: '/',
    'aria-current': ariaCurrent
  }
];

paths.forEach((text: string, i: number) => {
  const href = `/${paths.slice(0, i + 1).join('/')}`;

  parts = [
    ...parts,
    {
      text: text.replace(/[-_]/g, ' '),
      href,
      'aria-current': ariaCurrent
    }
  ];
})
---

<nav aria-label="Breadcrumbs" class={mainBemClass}>
  <ol class={`${mainBemClass}__crumbs`}>
    {
      parts.map(({ text, ...attrs }, index, array) =>
      <li class={`${mainBemClass}__crumb`}>
        <a {...attrs} class={`${mainBemClass}__link`}>{text}</a>
        {(Astro.slots.has('separator') && array.length - 1 !== index) && <slot name="separator"></slot>}
      </li>)
    }
  </ol>
</nav>
