---
interface BreadcrumbsProps {
  indexText?: string;
  mainBemClass?: string;
  ariaLabel?: string;
  crumbs?: Array<BreadcrumbItem>;
}

interface BreadcrumbItem {
  text: string;
  href: string;
  "aria-current"?: string;
}

const {
  indexText = "Home",
  mainBemClass = "c-breadcrumbs",
  ariaLabel = "breadcrumbs",
  crumbs = [],
} = Astro.props as BreadcrumbsProps;

let parts: Array<BreadcrumbItem> = [];

/**
 * If no crumbs are passed, generate them dynamically.
 */
if (crumbs.length === 0) {
  const paths = Astro.url.pathname.split("/").filter((crumb: any) => crumb);

  /**
   * Array of breadcrumb items.
   * The first item is the index page.
   */
  parts = [
    {
      text: indexText,
      href: "/",
    },
  ];

  /**
   * Loop through the paths and create a breadcrumb item for each.
   */
  paths.forEach((text: string, index: number) => {
    const href = `/${paths.slice(0, index + 1).join("/")}`;

    parts = [
      ...parts,
      {
        text: text.replace(/[-_]/g, " "),
        href,
      },
    ];
  });
}

/**
 * If crumbs are passed, use them.
 */
if (crumbs.length > 0) {
  parts = crumbs;
}

const schemaJson = () => {
  return {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    itemListElement: parts.map((part, index) => ({
      "@type": "ListItem",
      position: index + 1,
      item: {
        "@id": part.href,
        name: part.text,
      },
    })),
  };
};

console.log(JSON.stringify(schemaJson, null, 2));

const test = {
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  itemListElement: [
    {
      "@type": "ListItem",
      position: 1,
      item: {
        "@id": "https://example.com/dresses",
        name: "Dresses",
      },
    },
    {
      "@type": "ListItem",
      position: 2,
      item: {
        "@id": "https://example.com/dresses/real",
        name: "Real Dresses",
      },
    },
  ],
};
---

<nav aria-label={ariaLabel} class={mainBemClass}>
  <ol
    class={`${mainBemClass}__crumbs`}
    itemscope
    itemtype="https://schema.org/BreadcrumbList"
  >
    {
      parts.map(({ text, ...attrs }, index, array) => (
        <li
          class={`${mainBemClass}__crumb`}
          itemprop="itemListElement"
          itemscope
          itemtype="https://schema.org/ListItem"
        >
          {Astro.slots.has("index") && index === 0 && (
            <a {...attrs} class={`${mainBemClass}__link`} itemprop="item">
              <slot name="index" />
            </a>
          )}

          {(!Astro.slots.has("index") ||
            (Astro.slots.has("index") && index !== 0)) && (
            <a
              {...attrs}
              class={`${mainBemClass}__link`}
              aria-current={index + 1 === array.length ? "location" : false}
              itemprop="item"
            >
              {text}
            </a>
          )}

          <meta itemprop="position" content={index} />

          {Astro.slots.has("separator") && array.length - 1 !== index && (
            <slot name="separator" />
          )}
        </li>
      ))
    }
  </ol>
</nav>

<script type="application/ld+json" is:inline>
  {
        "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    itemListElement: parts.map((part, index) => ({
      "@type": "ListItem",
      position: index + 1,
      item: {
        "@id": part.href,
        name: part.text,
      },
    })),
  }
</script>
