---
import { schemaJson } from "./lib/structuredData";
import { generateCrumbs } from "./lib/generateCrumbs";
import BreadcrumbLink from "./BreadcrumbLink.astro";
import BreadcrumbSeparator from "./BreadcrumbSeparator.astro";

export interface BreadcrumbsProps {
  indexText?: string;
  mainBemClass?: string;
  ariaLabel?: string;
  crumbs?: Array<BreadcrumbItem>;
  schemaJsonScript?: boolean;
  ellipsisAriaLabel?: string;
  truncated?: boolean;
  linkTextFormat?: "lower" | "capitalized" | "sentence";
  customBaseUrl?: string;
}

export interface BreadcrumbItem {
  text: string;
  href: string;
  "aria-current"?: string;
}

const {
  indexText = "Home",
  mainBemClass = "c-breadcrumbs",
  ariaLabel = "breadcrumbs",
  crumbs = [],
  schemaJsonScript = true,
  ellipsisAriaLabel = "Show hidden navigation",
  truncated = false,
  linkTextFormat,
  customBaseUrl,
} = Astro.props as BreadcrumbsProps;

const paths = Astro.url.pathname.split("/").filter((crumb: any) => crumb);
const hasTrailingSlash = Astro.url.pathname.endsWith("/");
const pathLength = paths?.length;
const UUID = crypto.randomUUID();

const parts = generateCrumbs({
  crumbs,
  paths,
  indexText,
  hasTrailingSlash,
  linkTextFormat,
  customBaseUrl,
});

const isLastElement = (index: number, array: any[]) =>
  index + 1 === array.length;
---

<astro-breadcrumbs
  data-main-bem-class={mainBemClass}
  data-id={UUID}
  data-path-length={pathLength}
  data-truncated={truncated}
>
  <nav aria-label={ariaLabel} class={mainBemClass} id={UUID}>
    <ol
      class={`${mainBemClass}__crumbs${
        Astro.slots.has("separator") ? " has-separators" : " has-no-separators"
      }`}
    >
      {
        parts.map(({ text, ...attrs }, index, array) => {
          const lastElement = isLastElement(index, array);
          return (
            <>
              {index === 1 && pathLength > 1 && truncated && (
                <li class={`${mainBemClass}__crumb has-ellipsis`}>
                  <button
                    type="button"
                    aria-label={ellipsisAriaLabel}
                    class={`${mainBemClass}__truncated-button`}
                  >
                    <slot name="ellipsis">…</slot>
                  </button>
                  <BreadcrumbSeparator>
                    <slot name="separator" slot="seperator" />
                  </BreadcrumbSeparator>
                </li>
              )}
              <li class={`${mainBemClass}__crumb`}>
                <BreadcrumbLink
                  attrs={attrs}
                  mainBemClass={mainBemClass}
                  isIndex={index === 0}
                  isCurrent={lastElement}
                >
                  {Astro.slots.has("index") && index === 0 ? (
                    <slot name="index" slot="index" />
                  ) : (
                    text
                  )}
                </BreadcrumbLink>

                {Astro.slots.has("separator") && !lastElement && (
                  <BreadcrumbSeparator>
                    <slot name="separator" slot="separator" />
                  </BreadcrumbSeparator>
                )}
              </li>
            </>
          );
        })
      }
    </ol>
  </nav>
</astro-breadcrumbs>
{
  schemaJsonScript && (
    <script type="application/ld+json" set:html={schemaJson(parts)} />
  )
}

<script>
  import { Truncated } from "./lib/truncated";

  customElements.define("astro-breadcrumbs", Truncated);
</script>
